.input {
    background-color: var(--bg-light);
    color: var(--description-title);
    border: solid;
    border-color: var(--border-grey);
    border-width: 1px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
}