@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* TEXT */
:root {
    --orange: #F6AC69;
    --light: #FFFFFF;
    --dark: #020817;
    --description-title: #374151;
    --description: #71717A;
    --successful: #16A34A;
    --pending: #854D0E;
    --cancelled: #991B1B;
    --changed-calendar: #6B21A8;
    --confirm: #1E40AF;
    --info: #1D4ED8;
    --error: #DC2626;
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

/* BACKGROUND */
:root {
    --bg-primary: #F6AC69;
    --bg-primary-opacity: rgba(246, 172, 105, 0.1);
    --bg-primary-opacity-2: rgba(246, 172, 105, 0.05);
    --bg-primary-opacity-3: rgba(246, 172, 105, 0.2);
    --bg-primary-disabled: #FFC48F;
    --bg-closed: #EF4444;
    --bg-dark: rgba(0, 0, 0, 0.6);
    --bg-dark-linear: rgba(0, 0, 0, 0.7);
    --bg-grey: #E5E7EB;
    --bg-light: #FFFFFF;
    --bg-section: #F9FAFB;
    --bg-input: #F8FAFC;
    --bg-successful: #F0FDF4;
    --bg-pending: #FEF9C3;
    --bg-cancelled: #FEE2E2;
    --bg-changed-calendar: #F3E8FF;
    --bg-confirm: #DBEAFE;
    --bg-info: #EFF6FF;
    --bg-error: #FEE2E2;
    --bg-progress: #E5E7EB;
    --bg-skeleton: #70747e;
}

/* BORDER */
:root {
    --border-orange: #F6AC69;
    --border-orange-opacity: rgba(246, 172, 105, 0.2);
    --border-grey: #E4E4E7;
    --border-successful: #BBF7D0;
    --border-pending: #FEF08A;
    --border-cancelled: #FECACA;
    --border-changed-calendar: #E9D5FF;
    --border-confirm: #BFDBFE;
    --border-errror: #;
}

/* BOX SHADOW */
:root {
    --box-shadow-orange: 0px 4px 20px rgba(246, 172, 105, 0.2);
    --box-shadow-light: 0px 4px 20px rgba(0, 0, 0, 0.1);
    --box-shadow-dark: 0px 4px 20px rgba(0, 0, 0, 0.2);
    --box-shadow-successful: 0px 4px 20px rgba(22, 163, 74, 0.2);
    --box-shadow-pending: 0px 4px 20px rgba(254, 240, 131, 0.2);
    --box-shadow-cancelled: 0px 4px 20px rgba(254, 226, 226, 0.2);
    --box-shadow-changed-calendar: 0px 4px 20px rgba(139, 92, 246, 0.2);
    --box-shadow-confirm: 0px 4px 20px rgba(37, 99, 235, 0.2);
}

/* GRADIENT */
:root {
    --gradient-orange: linear-gradient(90deg, rgba(246, 172, 105, 0.2) 0%, rgba(246, 172, 105, 0.1) 100%);
    --gradient-light: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
    --gradient-dark: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
}

/* TEXT */
.text-primary {
    color: var(--orange);
}

.text-light {
    color: var(--light);
}

.text-dark {
    color: var(--dark);
}

.text-description-title {
    color: var(--description-title);
}

.text-description {
    color: var(--description);
}

.text-successful {
    color: var(--successful);
}

.text-pending {
    color: var(--pending);
}

.text-cancelled {
    color: var(--cancelled);
}

.text-changed-calendar {
    color: var(--changed-calendar);
}

.text-confirm {
    color: var(--confirm);
}

.text-info {
    color: var(--info);
}

.text-error {
    color: var(--error);
}

/* BACKGROUND */
.bg-primary {
    background-color: var(--bg-primary);
}

.bg-primary-opacity {
    background-color: var(--bg-primary-opacity);
}

.bg-primary-opacity-2 {
    background-color: var(--bg-primary-opacity-2);
}

.bg-primary-disabled {
    background-color: var(--bg-primary-disabled);
}

.bg-closed {
    background-color: var(--bg-closed);
}

.bg-dark {
    background-color: var(--bg-dark);
}

.bg-dark-linear {
    background-color: var(--bg-dark-linear);
}

.bg-grey {
    background-color: var(--bg-grey);
}

.bg-light {
    background-color: var(--bg-light);
}

.bg-section {
    background-color: var(--bg-section);
}

.bg-input {
    background-color: var(--bg-input);
}

.bg-successful {
    background-color: var(--bg-successful);
}

.bg-pending {
    background-color: var(--bg-pending);
}

.bg-cancelled {
    background-color: var(--bg-cancelled);
}

.bg-changed-calendar {
    background-color: var(--bg-changed-calendar);
}

.bg-confirm {
    background-color: var(--bg-confirm);
}

.bg-info {
    background-color: var(--bg-info);
}

.bg-error {
    background-color: var(--bg-error);
}

/* BORDER */
.border-orange {
    border-color: var(--border-orange);
}

.border-orange-opacity {
    border-color: var(--border-orange-opacity);
}

.border-grey {
    border-color: var(--border-grey);
}

.border-successful {
    border-color: var(--border-successful);
}

.border-pending {
    border-color: var(--border-pending);
}

.border-cancelled {
    border-color: var(--border-cancelled);
}

.border-changed-calendar {
    border-color: var(--border-changed-calendar);
}

.border-confirm {
    border-color: var(--border-confirm);
}

/* BOX SHADOW */

.shadow-orange {
    box-shadow: var(--box-shadow-orange);
}

.shadow-light {
    box-shadow: var(--box-shadow-light);
}

.shadow-dark {
    box-shadow: var(--box-shadow-dark);
}

.shadow-successful {
    box-shadow: var(--box-shadow-successful);
}

.shadow-pending {
    box-shadow: var(--box-shadow-pending);
}

.shadow-cancelled {
    box-shadow: var(--box-shadow-cancelled);
}

.shadow-changed-calendar {
    box-shadow: var(--box-shadow-changed-calendar);
}

.shadow-confirm {
    box-shadow: var(--box-shadow-confirm);
}

.input-error {
    border: 1px solid rgb(228, 3, 3);
    border-radius: 11px;
    margin-bottom: 0;
}

.active {
    background-color: var(--bg-primary);
    color: var(--light);
    font-weight: 600;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.drop-shadow {
    text-shadow: 0 5px 10px #0208173f;
}