.button {
    background-color: var(--bg-orange);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &:hover {
        background-color: #df9e61;
        transform: scale(1.05);
    }

    &:disabled {
        background-color: #aaa;
        cursor: not-allowed;
        transform: none;
    }
}

.loadingText {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    color: #f3f3f3;
}

.lucide-spin {
    animation: lucide-spin 1s linear infinite;
}

@keyframes lucide-spin {
    100% {
        transform: rotate(360deg);
    }
}