.line {
    width: 34%;
    height: 1px;
    background-color: var(--border-grey);
}

.continue_with {
    color: var(--description);
    text-align: center;
}

.register {
    color: var(--description-title);
}