.clear_button {
    &:not([class*="bg-"]) {
        background-color: var(--bg-light);
    }

    &:not([class*="text-"]) {
        color: var(--orange);
    }

    &:not([class*="border"]) {
        border: 1px solid var(--border-orange);
    }

    &:not([class*="rounded"]) {
        border-radius: 8px;
    }

    &:not([class*="p-"]) {
        padding: 0.5rem 1.25rem;
    }

    &:not([class*="text-"]) {
        font-size: 1rem;
    }

    cursor: pointer;
    transition: background-color 0.3s,
    transform 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &:not(:disabled):hover {
        &:not([class*="hover:"]) {
            background-color: var(--bg-primary-opacity);
            transform: scale(1.05);
        }
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        transform: none;

        &:hover {
            background-color: var(--bg-light);
            transform: none;
        }
    }

    :global(.lucide-spin) {
        animation: lucide-spin 1s linear infinite;
    }
}

.loadingText {
    &:not([class*="text-"]) {
        font-size: 0.9rem;
        color: var(--orange);
    }
}

@keyframes lucide-spin {
    100% {
        transform: rotate(360deg);
    }
}